 .thumbnail { 
    transition: all .2s ease-in-out; 
  }
  
  .thumbnail:hover { 
    transform: scale(1.025); 
  }
  
  
  .container {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #405065;
  }

  